<!--###TEMPLATE_DEFAULT### begin -->
<table ###TABLEATTRIBUTES###>
<!--###ROW### start -->
<tr class="###ROWCLASS###">
<!--###ICON_CELL### start -->
<td class="csc-uploads-icon">
###ICON###
</td>
<!--###ICON_CELL### end -->
<!--###LINK_CELL### start -->
<td class="csc-uploads-fileName">
<p>###DESCRIPTION###</p>
<p>(###FILENAME###)</p>
<p>[ ###LINKBEGIN###Herunterladen###LINKEND### ]</p>
</td>
<!--###LINK_CELL### end -->
<!--###SIZE_CELL### start -->
<td class="csc-uploads-fileSize">
###SIZE###
</td>
<!--###SIZE_CELL### end -->
</tr>
<!--###ROW### end-->
</table>
<!--###TEMPLATE_DEFAULT### end -->